<div class="step-seat">
    <div class="buyed-seats">
        <h3>{$buyed_title}</h3>
        <p>{$buyed_description}</p>
        <ul>
        {loop="buyed_seats"}
            <li>
                <input 
                    type="radio" 
                    name="forge-events-user-to-set"
                    {if="$value.locked"}
                    disabled="disabled"
                    {else}
                    checked="checked"
                    data-user-id="{$value.id}"
                    {/if}
                />
                {$value.user}
                {if="$value.locked"}
                <small style="float: right; margin-right: 10px">{$locked_text}</small>
                {/if}
            </li>
        {/loop}
        </ul>
    </div>
    <h3>{$seatplan_title}</h3>
    <p>{$seatplan_description}</p>
    {$seatplan}
    <a class="btn btn-primary" href="{$completeReservation.link}">{$completeReservation.text}</a>
</div>