.intro-infos {
    padding-top: 70px;
}

#participants {
    display: flex;
}

.compact-infobox {
    display: flex;
    width: 320px;
    max-width: 320px;
    border-radius: 32px;

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h4 {
        margin: 0;
    }

    .avatar, .icon-container {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        margin-right: 30px;

        .image {
            width: 64px;
            height: 64px;
            border-radius: 32px;
            background-size: 100%;
        }
    }
}