<div class="ajax-reload-container">
    <video id="preview"></video>
    <div class="checkin-feedback">
        <h1 class="status"></h1>
        <a id="newscan" class="btn btn-default btn-primary btn-sm button">{$button_text}</a>
    </div>
    <div class="head-panel">
        <div class="row heading-row page-header maxed">
            <div class="col-lg-12">
                <h1>{$title}</h1>
                <div class="actions">

                </div>
            </div>
        </div>
    </div>
    <div class="maxed">
        <div class="row">
            <div class="col-lg-12">
                <div id="messages"></div>
            </div>
        </div>
    </div>
</div>
