<div class="forge-events-block reveal">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-6">
                <p class="discreet">{$blocktitle}</p>
                <h2>{$title}</h2>
            </div>
            <div class="col-lg-6 remaining">
                <span class="cta-light">{$remaining_seats}</span>
            </div>
        </div>
        <div class="row forge-progress">
            <div class="col-lg-12">
                <div class="bar-bg">
                    <div class="bar" style="width: {$progress_amount}%;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <p class="lead">{$lead}</p>
                {$text}
                <div class="actions">
                    {if="$prim_cta_title"}<a href="{$prim_cta_url}" class="btn btn-primary">{$prim_cta_title}</a>{/if}
                    {if="$secondary_cta_title"}<a href="{$secondary_cta_url}" class="btn">{$secondary_cta_title}</a>{/if}
                </div>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4">
                <div class="fact"><p class="discreet">{$when_label}</p><h3>{$when_value}</h3></div>
                <div class="fact"><p class="discreet">{$where_label}</p><h3>{$where_value}</h3></div>
                <div class="fact"><p class="discreet">{$price_label}</p><h3>{$price_value}</h3></div>
                {if="$ticket_progress"}
                    {$ticket_progress}
                {/if}
            </div>
        </div>
    </div>
</div>