<div class="hero" {if="$header_image"}style="background-image:url({$header_image});"{/if}>
    <div class="wrapped">
        <div class="row">
            <div class="col-lg-12">
                <h1>{$title}</h1>
                {if="$signup"}
                <div class="signup">
                    <a href="{$signup_url}" class="btn btn-primary">{$signup_text}</a>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>
<div class="forge-progress">
    <div class="bar-bg">
        <div class="bar" style="width: {$progress_amount}%;"></div>
    </div>
</div>
<div class="intro-infos">
    <div class="wrapped">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="text">
                    <p class="lead">{$lead}</p>
                    {$text}
                </div>
            </div>
            <div class="col-lg-2 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="facts-block no-marg">
                    <span class="before">{$start_date_label}</span>
                    <span class="main">{$start_date}</span>
                </div>
                {if="$end_date"}
                <div class="facts-block smaller">
                    <span class="before">{$end_date_label}</span>
                    <span class="main">{$end_date}</span>
                </div>
                {/if}
                {if="$opening_times"}
                <div class="facts-block smaller">
                    <span class="before">{$opening_times_label}</span>
                    <span class="main">{$opening_times}</span>
                </div>
                {/if}
                {if="$location"}
                <div class="facts-block smaller">
                    <span class="before">{$location_label}</span>
                    <span class="main">{$location}</span>
                </div>
                {/if}
                {if="$participants_amount > 0"}
                <div class="facts-block">
                    <span class="before">{$participants_amount_label}</span>
                    <span class="main">{$participants_amount}</span>
                </div>
                {/if}
                {if="$participants_amount > 0"}
                <div class="facts-block">
                    <span class="before">{$price_label}</span>
                    <span class="main">{$price}</span>
                </div>
                {/if}
            </div>
        </div>
    </div>
</div>

<div class="builder-content">
    {$builderContent}
</div>