<div class="seatplan" {if="$actions"}data-api="{$api_url}" data-event="{$event_id}"{/if}>
    <div class="legend">
        <div class="amount label">
            {$amount}
        </div>
    {loop="status_list"}
        <div class="legend-entry">
            <div class="cell {$value.status}"></div><div class="label">{$value.name}</div>
        </div>
    {/loop}
    </div>
    <div class="columns">
        <div class="name"></div>
        {loop="column_names"}
        <div class="name">
            {$key}
        </div>
        {/loop}
        <div class="name"></div>
    </div>
    {loop="rows"}
    <div class="s-row" data-row-id="{$key}">
        <div class="name">{$key}</div>
        {loop="value"}
        <div class="cell {$value.status} {if="$value.tooltip"} tipster{/if}" {if="$value.tooltip"}title="{$value.tooltip}"{/if} data-cell-id="{$key}"
        data-cell-user="{$value.user}">
        </div>
        {/loop}
        <div class="name">{$key}</div>
    </div>
    {/loop}
    <div class="columns">
        <div class="name"></div>
        {loop="column_names"}
        <div class="name">
            {$key}
        </div>
        {/loop}
        <div class="name"></div>
    </div>
</div>